a:hover{
    font-size: 14pt;
}

a{
    color: white;
}
body{
    margin:0;
    font-family: 'Permanent Marker', cursive;
}
header{
    background-image: url("../images/6402.jpg");
    height: 400px;
    background-position: center;
}
h1{
    margin: 0;
    color: white;
    text-align: left;
    padding: 110px;

}

section{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

section img:nth-child(1):hover{
    height: 100%;
}

p{
    padding: 0 500px;
    
}

img{
    height: 400px;
}
nav{
    align-items: center;
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-around;

}